# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/tmp/*
!/log/.keep
!/tmp/.keep
latest.dump

# Ignore Byebug command history file.
.byebug_history

# Ignore node_modules
/node_modules

# Ignore .DS_Store
.DS_store
