<%= render 'application/header' %>
<div class="container">
  <%= form_for :record do |f| %>
    <%= f.promethee_localizer :data, master: @data, value: @localization %>
  <% end %>
</div>
<%= render 'application/footer' %>