<div class="buttons">
  <%= link_to 'Edit', edit_page_path(@page), class: 'btn btn-default' %>
  <%= link_to 'Localize', page_localizations_path(@page), class: 'btn btn-default' %>
</div>
<hr>
<%= promethee @page.data %>