@import 'bootstrap'
@import 'font-awesome'
@import 'summernote'
@import 'promethee'
@import 'promethee-edit'

@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,300i,600,600i|Montserrat:300,300i,700,700i')

body
  padding-top: 15px

h1
  font-family: 'Cormorant Garamond', serif
  font-variant-ligatures: normal
  font-weight: 300

h2, h3, p, div, blockquote
  font-family: 'Montserrat', sans-serif

h1
  text-align: center
  margin: 180px 0 50px
  font-size: 60px
  + h2
    margin-top: 0px

h2
  font-weight: 700
  margin-top: 100px
  margin-bottom: 40px
  font-size: 18px
  text-transform: uppercase
  letter-spacing: 2px

h3
  font-weight: 700
  font-size: 16px
  margin-top: 40px

p
  font-size: 16px
  line-height: 32px

#notice
  text-align: center

.logo
  position: absolute
  top: 10px
  left: 0
  max-width: 200px
  display: block

.promethee > .promethee__component
  margin-bottom: 80px

footer
  padding: 50px 0
  font-size: 10px

.navbar
  border: none
.nav > li > a:hover, .nav > li > a:focus, .nav .open > a, .nav .open > a:hover, .nav .open > a:focus
  background: none

.dropdown-menu
  border: none
  background: clear
  box-shadow: none

.dropdown-menu > li 
  text-align: right
  & > a:hover
    background: none
